{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div id="contact">
        <fieldset>
            <a href="/">
                <img src="/images/fizzyab.png" alt="fizzy">
            </a>
        </fieldset>
        <br>
        <fieldset>
            <a href="/spotify">
                <button style="background-color: #1db954;" type="submit" id="submit" title="Spotify song downloader">
                    <box-icon name='spotify' type='logo' color='#ffffff'></box-icon>
                    &nbsp;+&nbsp;
                    <box-icon name='cloud-download' type='solid' color='#ffffff'></box-icon>
                </button>
            </a>
        </fieldset>
        <fieldset>
            <a href="/youtube">
                <button style="background-color: #ff0047;" type="submit" id="submit" title="YouTube video downloader">
                    <box-icon name='youtube' type='logo' color='#ffffff'></box-icon>
                    &nbsp;+&nbsp;
                    <box-icon name='cloud-download' type='solid' color='#ffffff'></box-icon>
                </button>
            </a>
        </fieldset>
        <fieldset>
            <a href="/instagram">
                <button type="submit" id="submit" title="Instagram video downloader">
                    <box-icon name='instagram-alt' type='logo' color='#ffffff'></box-icon>
                    &nbsp;+&nbsp;
                    <box-icon name='cloud-download' type='solid' color='#ffffff'></box-icon>
                </button>
            </a>
        </fieldset>
    </div>
</div>
{% endblock %}