{% extends 'layout.html' %}

{% block title %}Spotify Downloader{% endblock %}

{% block content %}
<div class="container">
    <form id="contact" action="/spotify/download" method="post">
        <fieldset>
            <img src="/images/fizzyab.png" alt="fizzy">
        </fieldset>
        <br>
        <fieldset>
            <input placeholder="Spotify track link" type="url" tabindex="1" name="url" required autofocus>
        </fieldset>
        <fieldset>
            <button onclick="adLoad();" style="background-color: #1db954;" type="submit" id="submit"
                title="Download"><box-icon name='cloud-download' type='solid' color='#ffffff'></box-icon></button>
        </fieldset>
    </form>
</div>
{% endblock %}